# Database
DATABASE_URL="mysql://user:password@localhost:3307/revlosport_kb"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# API Key untuk chatbot mengakses /api/knowledge-base
KB_API_KEY="your-secret-api-key-here"
